<section>
  <h3>Manhole Covers in <%= @country.capitalize %></h3>
  <ul>
  <% @certain_country_array.each_with_index do |manhole_entry, index| %>
      <li>
        <ul>
          <a href="/manholecovers/<%= manhole_entry["id"] %>">Manhole Cover <%= index + 1 %>:</a>
          <li>Location: <%= manhole_entry["city"] %>, <%= manhole_entry["province_or_state"] %>, <%= manhole_entry["country"] %></li>
          <li>Year: <%= manhole_entry["year"] %></li>
          <li>ID Number: <%= manhole_entry["id"] %></li>
        </ul>
      </li>
  <% end %>
  </ul>
</section>
