<section id="detail">
  <a href="/manholecovers"><img class="close" src="../images/nonmanholes/close.png"></a>
  <div class="major_image">
      <img class="big_image" src="../<%= @chosen_manhole["img"] %>">
      <div class="description">
        <p class="meta_text">
          Location:&nbsp;
          <span class="meta_content">
            <a href="/city/<%= @chosen_manhole["city"] %>"><%= @chosen_manhole["city"] %></a>,
            <a href="/province_or_state/<%= @chosen_manhole["state_or_province"] %>"><%= @chosen_manhole["province_or_state"] %></a>,
            <a href="/country/<%= @chosen_manhole["country"] %>"><%= @chosen_manhole["country"] %></a>
          </span>
        </p><br>
        <p class="meta_text" id="meta_year">
          Year:&nbsp;
          <a href="/year/<%= @chosen_manhole["year"] %>"><span class="meta_content"><%= @chosen_manhole["year"] %></span></a>
        </p>
        <br>
        <p class="meta_text" id="meta_info">Note:&nbsp;<span class="meta_content"><%= @chosen_manhole["note"] %></span></p><br>
        <p class="meta_text">
          Tags:&nbsp;
          <span class="meta_content">
            <% @array_of_tags.each do |tag|%>
              <a href="/tag/<%= tag %>">#<%= tag %>&nbsp;</a>
            <% end %>
          </span>
        </p>
        <br>
        <br>
        <br>
        <a href="/manholecovers/<%= @id %>/edit" class="edit">EDIT</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/manholecovers/<%= @id %>/delete" class="delete">DELETE</a>
      </div>
  </div>
  <div id="related_image_part">
    <div id="divider"></div>
    <div class="related_image">
      <a href="/manholecovers/<%= @random_manhole_of_same_color1["id"] %>"><img class="small_image" src="../<%= @random_manhole_of_same_color1["img"] %>"></a>
      <a href="/manholecovers/<%= @random_manhole_of_same_color2["id"] %>"><img class="small_image" src="../<%= @random_manhole_of_same_color2["img"] %>"></a>
      <a href="/manholecovers/<%= @random_manhole_of_same_color3["id"] %>"><img class="small_image" src="../<%= @random_manhole_of_same_color3["img"] %>"></a>
    </div>
  </div>
</section>



