<!-- spread-out manholes -->
<% @manholes.each_with_index do |manhole_entry, index| %>
  <div id='box<%= index %>' class='box'>
    <a href="/<%= manhole_entry["id"] %>"><img class="item" src="<%= manhole_entry["img"] %>" alt="Manhole"></a>
    <div id="meta_box<%= index %>" class="meta_box">
      <span class="meta_text"><%= manhole_entry["city"] %>, <%= manhole_entry["province_or_state"] %>, <%= manhole_entry["country"] %> | <%= manhole_entry["year"] %></span>
    </div>
  </div>
<% end %>
