<section>
  <h3>Manhole Covers in the Province/State of <%= @state_or_province.capitalize %></h3>
  <% @certain_state_or_province_array.each_with_index do |manhole_entry, index| %>
    <a href="/manholecovers/<%= manhole_entry["id"] %>">
    <ul class="list-of-a-feature">
      <li><img src="/<%= manhole_entry["img"] %>"></li>
      <li><%= manhole_entry["city"] %>, <%= manhole_entry["state_or_province"] %>, <%= manhole_entry["country"] %></li>
      <li><%= manhole_entry["year"] %></li>
      <li><%= manhole_entry["id"] %></li>
    </ul>
    </a>
  <% end %>
  <div class="clear"></div>
</section>
