<section>
  <h3>Manhole Covers in the Province/State of <%= @state_or_province.capitalize %></h3>
  <ul>
  <% @certain_state_or_province_array.each_with_index do |manhole_entry, index| %>
      <li>
        <ul>
          <a href="/manholecovers/<%= manhole_entry["id"] %>">Manhole Cover <%= index + 1 %>:</a>
          <li>Location: <%= manhole_entry["city"] %>, <%= manhole_entry["state_or_province"] %>, <%= manhole_entry["country"] %></li>
          <li>Year: <%= manhole_entry["year"] %></li>
          <li>ID Number: <%= manhole_entry["id"] %></li>
        </ul>
      </li>
  <% end %>
  </ul>
</section>
