<span id="summary"><%= @manholes.size %> manhole covers from <%= @number_of_cities_uniq %> cities of <%= @number_of_countries_uniq %> countries currently</span>

<div id="container">
  <% @manhole_samples.each do |manhole_entry| %>
    <a href="/manholecovers/<%= manhole_entry["id"] %>">
      <img class="item" id="item<%= manhole_entry["id"] %>" src="../images/small/<%= manhole_entry["img"] %>" alt="Manholecover">
    </a>

    <div class="meta_box" id="meta_box<%= manhole_entry["id"] %>">
        <span class="meta_text"><%= manhole_entry["city"] %>, <%= manhole_entry["state_or_province"] %>, <%= manhole_entry["country"] %> | <%= manhole_entry["year"] %></span>
    </div>
  <% end %>
</div>

